<div class="container-fluid categories-container">
    <div class="row search-box-row">
        <div class="col-md-12 text-center">
            <img ng-click="vm.goBack()" class="back-btn" ng-src="./assets/images/back-btn.png">
            <div class="input-group search-box">
                <input type="text"
                       class="form-control"
                       ng-model="vm.keyword"
                       ng-keyup="vm.onKeyUp()"
                       placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-primary"
                            type="button"
                            ng-click="vm.search()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 foodcate-div"
             ng-repeat="cate in vm.foodcates"
             ng-click="vm.openRestaurants(cate.id)">
            <img class="img-responsive category-image" ng-src="{{cate.image}}">
            <div class="category-title">{{cate.title}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ads-div">
            <img class="ads-image" ng-src="./assets/images/ads/4.jpg">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ads-div">
            <img class="ads-image" ng-src="./assets/images/ads/6.jpg">
            <!--<video autoplay loop muted class="ads-image">
                <source src="https://drive.google.com/uc?export=download&id=0BxBUsqvDUbFDdGRCaG1yOFIwV28" type='video/webm'/>
            </video>-->
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ads-div">
            <img class="ads-image" ng-src="./assets/images/ads/5.jpg">
        </div>
    </div>
</div>
